<article id="meio-conteudo">
    <h1>A Empresa</h1>
    <figure id="capa-institucional">
        <img src="http://www.lorempixel.com/330/200">
        <img src="http://www.lorempixel.com/330/200">
        <figcaption>Órion Industrial</figcaption>
    </figure>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda at cum fuga hic illum ipsum quasi
        quidem? Accusamus asperiores aspernatur doloremque ipsa maxime necessitatibus nobis odio perspiciatis, provident
        quidem.</p>

    <p>A adipisci aut consequuntur deserunt expedita fugit nobis nostrum, officia placeat, quo sit vitae. At culpa, eos
        harum impedit necessitatibus praesentium sequi sint soluta voluptatem! Doloremque et nisi suscipit totam.</p>

    <p>Accusamus aperiam assumenda commodi consequuntur doloremque ducimus eius exercitationem fuga id illo impedit
        inventore ipsa optio, possimus saepe voluptatem voluptates! Cum doloremque enim expedita impedit maxime nihil
        qui quia rem!</p>

    <p>Ab architecto at eligendi error expedita id illum iusto magnam modi nisi nobis nostrum numquam pariatur, sequi
        soluta. Debitis dolores eveniet laudantium necessitatibus odit quam quisquam. Incidunt perferendis quasi
        voluptatum.</p>

    <span id="voltar"><a href="javascript:history.back(-1);">Voltar</a></span>
</article>