<article id="meio-conteudo" ng-controller="CtrlProdutos">
    <h1>Produtos</h1>

    <p>{{abertura}}</p>
    <dl>
        <categorias ng-repeat="produto in produtos">
        <dd>{{produto.categoria}}</dd>
        <dt>
            <figure ng-repeat="item in produto.produtos">
                <a href="#/produto/id/{{item.produtoid}}">
                <img src="http://www.orion-industrial.com.br/arquivos/produto/front-{{item.produtoid}}-0.jpg">
                </a>
                <figcaption>{{item.produtotitulo}}</figcaption>
            </figure>
        </dt>
        </categorias>
     </dl>
    <span id="voltar"><a href="javascript:history.back(-1);">Voltar</a></span>
</article>