<article id="meio-conteudo" ng-controller="CtrlSuporte">
    <h1>Suporte</h1>
    <p>{{dados.abertura[0].texto}}</p>
    <form>
        <div ng-hide="!mensagem" class="mensagem">{{mensagem}}</div>

        <label>Nome:
            <input type="text" ng-model="form.nome"/>
        </label>
        <label>Telefone:
            <input type="text" ng-model="form.telefone"/>
        </label>
        <label>E-mail:
            <input type="text" ng-model="form.email"/>
        </label>
        <label>Solicitação:
            <textarea ng-model="form.texto"></textarea>
        </label>
        <input type="submit" value="Enviar Solicitação" ng-click="envia(form)">
    </form>
    <p>{{texto}}</p>
    <span id="voltar"><a href="javascript:history.back(-1);">Voltar</a></span>
</article>